h2,
div {
    font-family: "Pirata", sans-serif;
    display: block;
    align-self: center;
}

.title {
    text-align: center;
    font-family: 'Pirata';
    font-size: 40px;
}

.content {
    text-align: center;
    font-family: 'Pirata';
    font-size: 20px;
}